.visible-xs{
	display: none !important;
}
.hidden-xs{
	display: block !important;
}
@media(max-width: 767px){
	.visible-xs{
		display: block !important;
	}
	.hidden-xs{
		display: none !important;
	}
}
@media(max-width: 1440px){
	html,body{
		font-size: 14px;
	}
}
@media(max-width: 1366px){
	html,body{
		font-size: 13px;
	}
}
@media(max-width: 1200px){
	html,body{
		font-size: 12px;
	}
}
@media(max-width: 1024px){
	html,body{
		font-size: 10px;
	}
}
@media(max-width: 767px){
	html,body{
		font-size: 12px;
	}
	.btn_blue {
	    padding: 1rem 1rem;
	    text-align: center;
	    padding-top: 1.2rem;
	}
	.header h1{
	    font-size: 3rem;
	}
	.content_section h2{
	    font-size: 2rem;
	}
	.form_section h2{
	    font-size: 2rem;
	}
	.owl-nav{
		display: none;
	}
	footer p{
	    text-align: center;
	    margin-bottom: 1rem;
	}
	footer ul{
	    text-align: center;
	}
}